.navbar {
  background-color: #262f4d;
  height:var(--inaltime-meniu);
    width:100%;
    top:0;
    padding:0;
    z-index:10;
    /*ca sa fie pozitionat normal in partea de sus a containerului, sub sigla, 
    dar apoi cand dam scroll sa ramana fix pe ecran*/
    position:sticky;
    a{
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 16px;
      transition: background-color 0.5s ease;
      img{
        height: 18px;
        width: 25px;
        margin-right: 0px;
      }
      a:hover{
        .dropdown:hover{
          .dropbtn{
            background-color: #ddd;
            color: black;
          }
        }
       
      }
    }
}

.dropdown {
  float: left;
  overflow: hidden;
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #f2f2f2;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
    transition: background-color 0.5s ease;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease-out;
    a{
      float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: background-color 0.5s ease, text-decoration 0.5s ease;
    }
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    transform: scaleY(1);
  }
}







#hamburger{
  display: none;
  height: var(--inaltime-meniu);
}
#ch-menu{
  display: none ;
}
#hamburger img{
  height:100%;
  width:auto;
}


@keyframes aparitie_meniu{
  0%{
      opacity: 0;
      transform:scale(0,0);
  }
  50%{
      transform:scale(0.5,1);
  }
  100%{
      opacity: 1;
      
      transform:scale(1,1);
  }
}