<p>Contact: +40 721 234 56</p>
    <p>Adresă: <a href="https://www.google.com/maps?q=Facultatea+de+matematica+si+informatica" target="_blank">Facultatea de Matematică și Informatică</a></p>
    <p>Email: <a href="mailto:info@wetnose.com">info@wetnose.com</a></p>
    <p><a>Contactați-ne prin :</a></p>
    <a href="skype:username?chat">Skype</a>
    <a>-</a>
    <a href="https://www.facebook.com/">Facebook</a>
    <a>-</a>
    <a href="https://www.instagram.com/">Instagram</a>
    <p>&copy; <small>&#169;</small> 2023 WetNose. Toate drepturile rezervate. Data creării paginii: <time datetime="2023-05-24">24 mai 2023</time></p>
    <a id="back-to-top" href="#top">&#8593;</a>
    <p>Acesta este un proiect scolar</p>

