<meta charset="UTF-8">
<meta name="description" content="WetNose va ofera posibilitate de a va gasi cel mai bun prieten. Site de adoptie pisici si caini.">
<meta name="keywords" content="adoptie, caini, pisici,prieten, blanos">
<meta name="author" content="Balasa Alexandra">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>
        <link rel="stylesheet" type="text/css" href="/resurse/css/navbar.css">
        <link rel="stylesheet" type="text/css" href="/resurse/css/index.css">
        <link rel="stylesheet" type="text/css" href="/resurse/css/efecte.css">
        <link rel="stylesheet" type="text/css" href="/resurse/css/galerie.css">

        <link rel="stylesheet" type="text/css" media="print" href="/resurse/css/print.css">
        <link rel="stylesheet" href="/resurse/css/navbar-750.css" type="text/css" media="screen and (max-width: 767px)">
        <link rel="stylesheet" href="/resurse/css/layout.css" type="text/css">
        <link rel="icon" href="/resurse/imagini/favicon/favicon.ico" type="favicon.png">
        <!-- pentru sageti intrebari -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
        <nav class="navbar">
        <input id="ch-menu" type="checkbox">
        <label id="hamburger" for="ch-menu">
            <img src="/resurse/imagini/menu.png" alt="menu" style="text-align: left;">
        </label>
        <div class="menu">
            <a href="/"><img src="/resurse/imagini/home.png" alt="Acasa"></a>
            <a href="/despre">Despre Noi</a>
            <div class="dropdown">
                <button class="dropbtn">Adopție</button>
                <div class="dropdown-content">
                    <a href="pagina_adoptie_caini.html"><i class="fas fa-dog"></i> Câini</a>
                    <a href="pagina_adoptie_pisici.html"><i class="fas fa-cat"></i> Pisici</a>
                </div>
            </div>
            
            <a href="/doneaza">Donează</a>
            <a href="/contact">Locațiile noastre</a>
        </div>
    </nav>
    
      